<html>
<head>
  <meta charset="UTF-8">
  <title>Mark Sweep | The Facebook Automatic Group Moderator</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

  <nav>
    <div class="container">
      <div id="logo-area">
        <img id="robot" src="/img/robot@2x.png" alt="" width="59px" height="64px">
        <span>Mark Sweep</span>
        <br>
        <span>The Automatic Facebook Group Moderator</span>
      </div>
      <div id="links">
        <a href="https://github.com/jxnl/fbmarkandsweep" target="_blank">Contribute on Github</a>
      </div>
    </div>
  </nav>
  <div class="container" id="content">
    <h2 class="center">
      Recent Posts Inspected in <strong>Hackathon Hackers</strong>
    </h2>
  </div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  // AJAX Request: My API (7) (http://localhost:3000/collections/logs)
$.ajax({
  url: "http://localhost:3000/collections/logs",
  type: "GET",
  timeout: 30000,

  // Success Callback: http://localhost:3000/collections/logs

  success:function(data, textStatus) {
    // console.log("Received response HTTP "+textStatus+" (http://localhost:3000/collections/logs)");
    console.log(data);
    for (var i = 0; i < data.length; i++) {
      if (i == 0) {
        $('#content').html('<h2 class="center"> Recent Posts Inspected in <strong>Hackathon Hackers</strong> </h2>');
      }
      // console.log(data[i]);
      if (data[i].status == 'spam'){
         $('#content').append(' <div class="post spam"> <strong>Post content</strong> <br> ' + data[i].content + ' ~ by ' + data[i].name.name + ' <br> <br> <strong>Action Taken</strong> <br>' + data[i].status + ' Spam Confidence: ' + data[i].spam_confidence + '%</div>');
       } else if (data[i].status == 'maybe_off_topic' || data[i].status == 'maybe_spam') {
          $('#content').append(' <div class="post maybe"> <strong>Post content</strong> <br> ' + data[i].content + ' ~ by ' + data[i].name.name + ' <br> <br> <strong>Action Taken</strong> <br>' + data[i].status + ' Spam Confidence: ' + data[i].spam_confidence + '%</div>');
       } else {
          $('#content').append(' <div class="post good"> <strong>Post content</strong> <br> ' + data[i].content + ' ~ by ' + data[i].name.name + ' <br> <br> <strong>Action Taken</strong> <br>' + data[i].status + ' Spam Confidence: ' + data[i].spam_confidence + '%</div>');
       }
    };
  },

  // Error Callback: http://localhost:3000/collections/logs

  error:function(jqXHR, textStatus, errorThrown) {
    console.log("Error during request "+textStatus+" (http://localhost:3000/collections/logs)");
    console.log(errorThrown);
  },
});



</script>
</body>
</html>