body {
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1; }

nav {
  background-color: #2980b9;
  height: 80px;
  width: 100%;
  margin-top: 0px;
  color: white; }
  nav #logo-area {
    width: 500px;
    float: left;
    margin-top: 19px; }
    nav #logo-area span:nth-child(2) {
      font-weight: 600;
      font-size: 24px; }
    nav #logo-area span:last-child {
      font-size: 14px;
      line-height: 22px; }
  nav #links {
    float: right;
    margin-top: 32px; }
    nav #links a {
      color: white;
      text-decoration: none; }
      nav #links a:hover {
        text-decoration: underline; }
      nav #links a:first-child {
        margin-right: 15px; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font-size: 20px;
  font-weight: 300;
  color: #2980b9;
  margin-top: 30px;
  margin-bottom: 30px; }

strong {
  font-weight: 600; }

.post {
  background-color: white;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 30px 30px;
  color: #515151;
  line-height: 17px; }

#robot {
  float: left;
  margin-top: -10px; }
