facebook-sdk==0.4.0
numpy==1.7.1
numpydoc==0.4
oauth2==1.5.211
oauthlib==0.6.1
pandas==0.12.0
parsedatetime==1.2
pymongo==2.7.2
python-dateutil==2.2
queuelib==1.1.1
regex==2014.06.28
requests==2.2.1
scikit-learn==0.14.1
scipy==0.13.0
six==1.6.1
textblob==0.8.4
